<html lang=”en”>
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>paraag as fas df ad gfasdf  asdf df gads g g</p>
        <p>paraag as fas df ad gfasdf  asdf df gads g g</p>
        <p>paraag as fas df ad gfasdf  asdf df gads g g</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
